<!DOCTYPE html>
<html>
<head>
  <title>爱宠族(Luvpet) - 用户登陆</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap-3.3.7/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/font-awesome-4.7.0/font-awesome.min.css">
  <link rel="stylesheet" href="/stylesheets/iconfont.css">
  <link rel='stylesheet' href='/stylesheets/login.css' />
  <script src="/javascripts/jquery-2.2.0/jquery-2.2.0.min.js"></script>
  <script src="/javascripts/layer/layer.js"></script>
  <script src="/javascripts/bootstrap-3.3.7/bootstrap.min.js"></script>
  <script src="/javascripts/view/common.js"></script>
  <script src="/javascripts/view/account/login.js"></script>
</head>
<body>
  <div class="container section-head">
    <div class="row">
      <div class="col-md-2">
        <div class="logo">
          <img src="/images/luvpet.jpg" class="img-responsive">
        </div>
      </div>
      <div class="col-md-10">
        <div class="logo-info">
          <h3>爱宠族</h3>
          <h5>luvpet.com</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid section-login">
    <div class="login">
      <form>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="fa fa-user login-icon"></i>
            </span>
            <input type="text" class="form-control" id="user-name" placeholder="手机号/邮箱/用户名">
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="fa fa-key"></i>
            </span>
            <input type="text" class="form-control" id="password" placeholder="密码">
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="checkbox login-remember">
              <label>
                <input type="checkbox" checked="checked"> 记住我
              </label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="login-link">
              <a href="#">忘记密码？</a>
            </div>
          </div>
        </div>
        <button type="button" class="btn btn-login btn-block">登 陆</button>
        <div class="row">
          <div class="col-md-12">
            <div class="login-register">
              <a href="#">没有账号？去注册>></a>
            </div>
          </div>
        </div>
        <input type="hidden" value="{{target}}" id="hidden-target">
      </form>
    </div>
  </div>
  <div class="container section-footer">
    <span>Copyright(c) LUVPET Corp.All Rights Reserved. 备案号：沪ICP备17048081号</span>
  </div>
</body>
</html>