<link rel="stylesheet" href="/stylesheets/view/item/item.css">
<div class="item-expired">
  <h4>未找到该商品，或该商品已下架！</h4>
  <h4 class="lan-en hidden">Can not found the item or it is expired.</h4>
</div>
<div class="item-expired-back">
  <a type="button" class="btn-link" href="javascript:history.back(-1)">
    <span class="lan-cn">返回</span>
    <span class="lan-en hidden">Go Back</span>
  </a>
</div>