<link rel="stylesheet" href="/stylesheets/index.css">
<div class="container-fluid no-padding">
  <img src="images/banner/welcome-banner.png" class="img-responsive">
</div>
<div class="space-normal"></div>
<div class="container recommend-brand">
  <div class="row">
    <div class="col-md-12 no-padding img-brands">
      <img src="images/brands/recommend-brand.png" class="img-responsive">
      <!--<p>-->
        <!--<a href="/itemList?key=brand&value=BHB10001"></a>-->
        <!--<a href="/itemList?key=brand&value=BHB10002"></a>-->
        <!--<a href="/itemList?key=brand&value=BHB10000"></a>-->
      <!--</p>-->
    </div>
  </div>
</div>
<div class="space-normal"></div>
<div class="container hot-sales no-padding">
  <p class="hot-sales-title">
    <span class="lan-cn">当季热销</span>
    <span class="lan-en hidden">HOT SALES</span>
    <span class="glyphicon glyphicon-shopping-cart"></span>
  </p>
  <div class="title-image">
    <img src="images/hot-sales/hot-sales-title-cn.png" class="img-responsive lan-cn" style="width: 237px; height: 336px">
    <img src="images/hot-sales/hot-sales-title-en.png" class="img-responsive lan-en hidden" style="width: 237px; height: 336px">
  </div>
  <div class="hot-sales-items">
    <ul>

    </ul>
  </div>
</div>

<div class="container-fluid no-padding" style="margin-top: 30px">
  <img src="images/hot-sales/weekly-deals-cn.png" class="img-responsive lan-cn">
  <img src="images/hot-sales/weekly-deals-en.png" class="img-responsive lan-en hidden">
</div>
<div class="space-normal"></div>

<div class="container floor-1 no-padding">
  <div class="title-image">
    <img src="images/hot-sales/dog-deals-cn.png" class="img-responsive lan-cn">
    <img src="images/hot-sales/dog-deals-en.png" class="img-responsive lan-en hidden">
  </div>
  <div class="floor-items">
    <ul>
    </ul>
  </div>
</div>
<div class="space-normal"></div>

<div class="container floor-2 no-padding">
  <div class="title-image">
    <img src="images/hot-sales/cat-deals-cn.png" class="img-responsive lan-cn">
    <img src="images/hot-sales/cat-deals-en.png" class="img-responsive lan-en hidden">
  </div>
  <div class="floor-items">
    <ul>

    </ul>
  </div>
</div>
<div class="space-normal"></div>
<script src="javascripts/view/index.js"></script>