<link rel="stylesheet" href="/stylesheets/view/firm/introduction.css">

<div class="container" style="margin-top: 25px">
  <div class="row">
    <div class="col-md-12">
      <h3 class="lan-cn" style="font-weight: 600">关于我们</h3>
      <h3 class="lan-en hidden" style="font-weight: 600">About US</h3>
    </div>
  </div>
  <div class="row" style="margin-top: 15px">
    <div class="col-md-2 menus">
      <div class="company border-bottom current">
        <span class="lan-cn">企业介绍</span>
        <span class="lan-en hidden">Company Info</span>
      </div>
      <div class="contact">
        <span class="lan-cn">联系我们</span>
        <span class="lan-en hidden">Contact US</span>
      </div>
    </div>
    <div class="col-md-10">
      <div class="company-content">

      </div>
      <div class="contact-content hidden">

      </div>
    </div>
  </div>
</div>

<div class="space-normal"></div>
<script src="javascripts/view/firm/introduction.js"></script>