<link rel="stylesheet" href="/stylesheets/view/firm/introduction.css">

<div class="container bread-crumbs no-padding">
  <ol class="breadcrumb no-background-color">
    <li>
      <a href="\">
        <span class="lan-cn">首页</span>
        <span class="lan-en hidden">Home</span>
      </a>
    </li>
    <li class="active">
      <span class="lan-cn">企业介绍</span>
      <span class="lan-en hidden">Company Info</span>
    </li>
  </ol>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3 class="lan-cn" style="font-weight: 600">关于我们</h3>
      <h3 class="lan-en hidden" style="font-weight: 600">About US</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 menus">
      <div class="company border-bottom current">
        <span class="lan-cn">企业介绍</span>
        <span class="lan-en hidden">Company Info</span>
      </div>
      <div class="contact">
        <span class="lan-cn">联系我们</span>
        <span class="lan-en hidden">Contact US</span>
      </div>
    </div>
    <div class="col-md-10">
      <div class="company-content">
        <div class="lan-cn">
          <div class="info bg">
            <p class="company-content-header">我们的品牌</p>
            <p>英文:LUVP+K</p>
            <p>日本語:LUVP+K</p>
            <p>中国語:LUVP+K(爱宠族)</p>
            <p>LUV●P+K=LUVP+K</p>
            <p>爱宠族=Love puppy & kitten（宠爱小狗小猫）</p>
          </div>
          <div class="space-normal"></div>
          <div class="info">
            <p class="company-content-header">企业简介</p>
            <p>从2017年开始，我们致力于为您和您的爱宠缔造最美妙的相处时刻！</p>
            <p>我们的目标是将LUVP+K * 打造成全世界最值得宠物主人信赖的品牌之一。！</p>
            <p>LUVP+K 是由日本株式会社东邦，美国LUVPET INC公司以及中国上海优安奇投资公司组成的宠物品牌集团打造而成。日本株式会社东邦负责品牌产品的策划和设计，把东方美学和日本品牌的细腻风格揉入品牌。上海优安奇投资管理有限公司下属宠物用品厂负责生产，用长达20年之久的国际品牌生产功底精细打造新品牌。美国LUVPET INC公司发挥销售专家的优势，负责北美市场的销售，及世界各地的销售网。我们不断努力、创新，为爱宠族和爱宠研发出提高生活品质、帮助宠物健康成长的宠物用品。</p>
          </div>
          <div class="space-normal"></div>
          <div class="info">
            <p class="company-content-header">我们的使命</p>
            <p>致力于成为最可爱，最受信赖的宠物品牌。</p>
            <p>LUVP+K(爱宠族)将坚持“信赖、执着、专注、真诚”的品牌价值观。我们品牌旗下的每一件产品，都充满了我们对宠物和人类之间彼此关爱的理解。</p>
            <p>作为爱宠族的一员，我们集团积极开创开放、真诚的集团文化，我们会倾听客户和消费者的心声，并对我们的产品和工艺不断改进，作为对客户最真诚的回报。</p>
          </div>
          <div class="space-normal"></div>
          <div class="info">
            <p class="company-content-header">我们的价值观</p>
            <p>尝试 勇于尝试，善于发现，在错误中不断学习和成长。不尝试才是真正的失败。</p>
            <p>真诚 诚信远高于短期利益，我们对待员工、客户、供应商以及股东都秉承开放、诚信的态度。</p>
            <p>共赢 我们坚信共赢是解决问题和把握机遇的最佳方案。</p>
          </div>
          <div class="space-normal"></div>
          <div class="info">
            <p class="company-content-header">KUMAMON系列 原创潮牌</p>
            <p>KUMAMON系列是我们的原创潮牌（项圈、牵引带、胸背带，服装等）是由日本团队策划和设计，获得熊本县的熊本熊形象使用授权，每个商品都有商标使用批号。丰富多彩而奇妙的颜色组合，俏皮可爱超萌・・・・・・是该系列的火爆卖点。</p>
            <p>行动笨拙、内心贱萌、自带两坨腮红的萌物KUMAMON，在近两年迅速风靡全世界，成为年轻人的「网红」。</p>
            <p>吸引眼球的KUMAMON标志，呆萌可爱的设计，KUMAMON系列会让你的爱宠的可爱性脱颖而出，和熊本熊一样，成为风靡全球的吉祥物！</p>
          </div>
        </div>
        <div class="lan-en hidden">
          <div class="info bg">
            <p class="company-content-header">Our Brand</p>
            <p>English:LUVP+K</p>
            <p>日本語:LUVP+K</p>
            <p>中国語:LUVP+K(爱宠族)</p>
            <p>LUV●P+K=LUVP+K</p>
            <p>爱宠族=Love puppy & kitten（宠爱小狗小猫）</p>
          </div>
          <div class="space-normal"></div>
          <div class="info">
            <p class="company-content-header">Company Introduction</p>
            <p>Starting from 2017, we are committed on providing you and your pet to create the most wonderful time!</p>
            <p>The goal of LUVPET is to manufacture  products  for pets lover as one of the most  trusted brands in the world.!</p>
            <p>The  products of LUVPET was designed and supervised by \"TOHO CORP.\" with the ideas of the eastern detailing on the products from Japan and manufactured by \"YOUANQI CORP. \" at more than 20 years experience factory for name brand in the world at Shanghai through the distribution network of \"LUVPET INC.\" in US towards the world.</p>
          </div>
          <div class="space-normal"></div>
          <div class="info">
            <p class="company-content-header">Creative</p>
            <p>Our mission is to accomplish one of the  most adorable and  trustful  brands for pet products industry  in  the  grown of your healthy pet along the path.The brand values of LUVPET will adhere to the \"trust, perseverance, dedication and sincerity\". All the products  of our brand, designed base on fully understanding  the relationship between pets and humans, we loved each other.As a member pets lover, as a  actively creating an open, sincere corporate culture company, we will listen to the voice of customers and consumers, in order to improve our products and processes constantly, as the sincerely return to our customers</p>
          </div>
          <div class="space-normal"></div>
          <div class="info">
            <p class="company-content-header">Our Company Values</p>
            <p>Try – Try a lot of stuff and keep what works. Mistakes are recognized as a part of the learning and growing process. The only failure is failure to try.Honesty – Our integrity is more important than short-term profit.We are open and honest with our fellow associates, our customers, our vendors, and our stockholders.Win-win-win solutions – We believe in finding win-win-win solutions to every problem or opportunity.</p>
          </div>
        </div>
      </div>
      <div class="contact-content hidden">
        <div class="lan-cn">
          <p><strong>日本 TOHO CORP</strong></p>
          <p><strong>ADD:</strong> 6F., NO4-22 ALBAGINZATORI BLD,CHUO ST,CHUO-KU,KUMAMOTO,JAPAN.860-0802</p>
          <p><strong>TEL:</strong> 050-6865-7821</p>
          <p><strong>E-Mail:</strong> tohojp111@gmail.com</p>

          <div style="margin-top: 25px; margin-bottom: 25px"></div>
          <p><strong>美国 LUVPET INC</strong></p>
          <p><strong>ADD:</strong> 5210 W.Colonial Dr.Set.148 Orlando,FL 32808C</p>
          <p><strong>E-Mail:</strong> luvpet.fl@gmail.comC</p>

          <div style="margin-top: 25px; margin-bottom: 25px"></div>
          <p><strong>澳大利亚 Intercore Pty Ltd</strong></p>
          <p><strong>ADD:</strong> Unit 201 76 keilor Road ESSENDON VIC 3040</p>
          <p><strong>TEL:</strong> 0402697679</p>
          <p><strong>E-Mail:</strong> verymiu@gmail.com</p>

          <div style="margin-top: 25px; margin-bottom: 25px"></div>
          <p><strong>中国 YOUANQI CORP</strong> </p>
          <p><strong>ADD:</strong> RM NO 1411,NO578,TIANBAO RD,HONGKOU,SHANGHAI ,CHINA.200082</p>
          <p><strong>TEL:</strong> 021-39883660</p>
          <p><strong>E-Mail:</strong> Luvpetsh@shyouanqi.com</p>
        </div>
        <div class="lan-en hidden">
          <p><strong>Japan TOHO CORP</strong></p>
          <p><strong>ADD:</strong> 6F., NO4-22 ALBAGINZATORI BLD,CHUO ST,CHUO-KU,KUMAMOTO,JAPAN.860-0802</p>
          <p><strong>TEL:</strong> 050-6865-7821</p>
          <p><strong>E-Mail:</strong> tohojp111@gmail.com</p>

          <div style="margin-top: 25px; margin-bottom: 25px"></div>
          <p><strong>U.S.A LUVPET INC</strong></p>
          <p><strong>ADD:</strong> 5210 W.Colonial Dr.Set.148 Orlando,FL 32808C</p>
          <p><strong>E-Mail:</strong> luvpet.fl@gmail.comC</p>

          <div style="margin-top: 25px; margin-bottom: 25px"></div>
          <p><strong>Australia Intercore Pty Ltd </strong></p>
          <p><strong>ADD:</strong> Unit 201 76 keilor Road ESSENDON VIC 3040</p>
          <p><strong>TEL:</strong> 0402697679</p>
          <p><strong>E-Mail:</strong> verymiu@gmail.com</p>

          <div style="margin-top: 25px; margin-bottom: 25px"></div>
          <p><strong>China YOUANQI CORP</strong> </p>
          <p><strong>ADD:</strong> RM NO 1411,NO578,TIANBAO RD,HONGKOU,SHANGHAI ,CHINA.200082</p>
          <p><strong>TEL:</strong> 021-39883660</p>
          <p><strong>E-Mail:</strong> Luvpetsh@shyouanqi.com</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="space-normal"></div>
<script src="javascripts/view/firm/introduction.js"></script>