<link rel="stylesheet" href="/stylesheets/view/shops/shoping.css">
<div class="bodywrap">
<div class="orderheader">
    <div class="container clearfix">
        <div class="order_my_logo">
            <img src="/images/order/my.png" alt="">
        </div>
        <div class="order_my_list">
            <ul>
                <li><a href="index">首页</a></li>
                <li><a href="index">账户信息</a></li>
                <li><a href="index">消息</a></li>
            </ul>
        </div>
        <div class="order_search_goods">
            <div class="order_search_input">
                <input type="text" placeholder="幼犬衣服  牵引绳">
                <i class="iconfont icon-gaojisousuo"></i>
            </div>
            <div class="order_cart_goods">
                <em>1</em>
                <i class="iconfont icon-gouwuche21"></i>
            </div>
        </div>
    </div>
</div>
<div class="container clearfix">
    <div class="contleft">
        <h2><i class="iconfont icon-gouwuche2"></i>交易管理</h2>
        <a href="#">我的订单</a>
    </div>
    <div class="contright">
        <div class="order_all_tab clearfix">
            <ul>
                <li class="active"><a href="allorder">所有订单</a></li>
                <li><a href="waitpay">待付款<span>0</span></a></li>
                <li><a href="waitgoods">待收货<span>0</span></a></li>
                <li><a href="waiteval">待评价<span>1</span></a></li>
            </ul>
        </div>
        <!--近三个月订单-->
        <div class="order_meau clearfix">
            <ul>
                <li id="recently_order">近三个月订单&nbsp;<i class="iconfont icon-xiajiantou"></i>
                    <div class="order_month">
                        <a href="#">近三个月订单<i class="iconfont icon-xiajiantou"></i></a>
                        <a href="#">近三个月订单</a>
                        <a href="#">今年内订单</a>
                        <a href="#">2017年订单</a>
                        <a href="#">2016年订单</a>
                        <a href="#">2015年订单</a>
                        <a href="#">2014年月订单</a>
                    </div>
                </li>
                <li>订单详情</li>
                <li>数量</li>
                <li>金额</li>
                <li>状态</li>
                <li>操作</li>
            </ul>
        </div>
        <!--待付款-->
        <div class="order_dfk">
            <div class="order_dfk_top">
                <span>下单时间：2017-12-19</span><span>订单号: 114255035182091208</span>
                <a href="#"><i class="iconfont icon-shanchu"></i></a>
            </div>
            <div class="shop_item">
                <div class="shop_goods my_order_goods">
                    <div class="shop_goods_img">
                        <a href="#"><img src="images/items/DSC_1351.png" alt="" /></a>
                    </div>
                    <div class="shop_goods_inner">
                        <a href="#">熊本熊 日本熊本熊狗用点点系列之黄色波点牵引带</a>
                    </div>
                    <div class="shop_goods_color">
                        <p>颜色：黄底黑色波点</p>
                        <p>尺码：L码(带宽25mm)</p>
                    </div>
                </div>
                <div class="my_order_price shop_goods_price">
                    X1
                </div>
                <div class="my_order_price shop_goods_price orange">￥38</div>
                <div class="my_order_price shop_goods_price">订单详情</div>

                <div class="shop_goods_price my_order_zt">
                    <p><i class="iconfont icon-shijian"></i>剩余05时50分20秒</p>
                    <a href="apply" class="my_order_fk">付款</a>
                </div>
            </div>

        </div>
        <!--已撤销-->
        <div class="order_dfk">
            <div class="order_dfk_top">
                <span>下单时间：2017-12-19</span><span>订单号: 114255035182091208</span>
                <a href="#"><i class="iconfont icon-shanchu"></i></a>
            </div>
            <div class="shop_item">
                <div class="shop_goods my_order_goods">
                    <div class="shop_goods_img">
                        <a href="#"><img src="images/items/DSC_1478.png" alt="" /></a>
                    </div>
                    <div class="shop_goods_inner">
                        <a href="#">熊本熊 日本熊本熊狗用点点系列之黄色波点牵引带</a>
                    </div>
                    <div class="shop_goods_color">
                        <p>颜色：黄底黑色波点</p>
                        <p>尺码：L码(带宽25mm)</p>
                    </div>
                </div>
                <div class="my_order_price shop_goods_price">
                    X1
                </div>
                <div class="my_order_price shop_goods_price orange">￥38</div>
                <div class="my_order_price shop_goods_price">
                    <p>
                        <span>已撤销</span>
                        订单详情
                    </p>
                </div>
                <div class="shop_goods_price my_order_zt">
                    <p></p>
                    <a href="shops" class="my_order_fk gray"><i class="iconfont icon-gouwuche"></i>还要买</a>
                </div>
            </div>

        </div>
        <!--订单评价-->
        <div class="order_dfk">
            <div class="order_dfk_top">
                <span>下单时间：2017-12-19</span><span>订单号: 114255035182091208</span>
                <a href="#"><i class="iconfont icon-shanchu"></i></a>
            </div>
            <div class="shop_item">
                <div class="shop_goods my_order_goods">
                    <div class="shop_goods_img">
                        <a href="#"><img src="images/items/DSC_1567.png" alt="" /></a>
                    </div>
                    <div class="shop_goods_inner">
                        <a href="#">熊本熊 日本熊本熊狗用点点系列之黄色波点牵引带</a>
                    </div>
                    <div class="shop_goods_color">
                        <p>颜色：黄底黑色波点</p>
                        <p>尺码：L码(带宽25mm)</p>
                    </div>
                </div>
                <div class="my_order_price shop_goods_price">
                    X1
                </div>
                <div class="my_order_price shop_goods_price orange">￥38</div>
                <div class="my_order_price shop_goods_price">
                    <p>
                        <span>交易成功</span>
                        订单详情
                    </p>
                </div>
                <div class="shop_goods_price my_order_zt">
                    <p></p>
                    <a href="#" class="my_order_fk gray">评价</a>
                </div>
            </div>

        </div>
        <!--待收货-->
        <div class="order_dfk">
            <div class="order_dfk_top">
                <span>下单时间：2017-12-19</span><span>订单号: 114255035182091208</span>
                <a href="#"><i class="iconfont icon-shanchu"></i></a>
            </div>
            <div class="shop_item">
                <div class="shop_goods my_order_goods">
                    <div class="shop_goods_img">
                        <a href="#"><img src="images/items/DSC_1573.png" alt="" /></a>
                    </div>
                    <div class="shop_goods_inner">
                        <a href="#">熊本熊 日本熊本熊狗用点点系列之黄色波点牵引带</a>
                    </div>
                    <div class="shop_goods_color">
                        <p>颜色：黄底黑色波点</p>
                        <p>尺码：L码(带宽25mm)</p>
                    </div>
                </div>
                <div class="my_order_price shop_goods_price">
                    X1
                </div>
                <div class="my_order_price shop_goods_price orange">￥38</div>
                <div class="my_order_price shop_goods_price">
                    <p>
                        <span>卖家已发货</span>
                        订单详情
                        <span>查看物流</span>
                    </p>
                </div>
                <div class="shop_goods_price my_order_zt">
                    <p><i class="iconfont icon-shijian"></i>还剩1天</p>
                    <a href="#" class="my_order_fk">确认收货</a>
                    <p><a href="shops">再次购买</a></p>
                </div>
            </div>

        </div>
    </div>
</div>
</div>
<script type="text/javascript" src="javascripts/jquery-2.2.0.min/jquery-2.2.0.min.js"></script>
<script>
    $(function(){
        $("#recently_order").mouseover(function(){
            $(".order_month").show();
        })
        $("#recently_order").mouseout(function(){
            $(".order_month").hide();
        })
    })
</script>

