.advertisement img{
  margin: 0 auto;
}
.weekly-deals-advertisement{
  margin-top: 30px
}
.weekly-deals-advertisement img{
  margin: 0 auto;
}
.hot-sales-items{
  height: 336px;
}
.hot-sales-items, .floor-items{
  float: left;
  width: 933px;
}
.hot-sales-items ul li{
  float: left;
  width: 233px;
  height: 168px;
}
.hot-sales-items ul li:not(:nth-child(4)):not(:nth-child(8)){
  border-right: 1px solid #dcdcdc;
}

.hot-sales-items ul li:nth-child(n+5){
  border-top: 1px solid #dcdcdc;
}

.floor-1 .floor-items ul li{
  float: left;
  height: 195px;
}

.floor-2 .floor-items ul li{
  float: left;
  height: 194px;
}

.floor-items ul li:nth-child(1){
  width: 466px;
}

.floor-items ul li:not(:nth-child(1)){
  width: 233px;
}

.hot-sales-item .hot-sales-item-info p{
  max-width: 190px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 auto;
}
.item-amount{
  color: #cd2f11;
  font-size: 16px;
  font-weight: bold;
}
.img-brands p{
  padding-left: 237px;
}
.img-brands a{
  display: block;
  width: 311px;
  height: 248px;
  float: left;
}
.floor-items table{
  height: 387px;
}
.hot-sales .hot-sales-title{
  color: #d43f3a;
  font-size: 19px;
  font-weight: 600;
}
.hot-sales-item-image img{
  width: 106px;
  margin: 0 auto;
  margin-top: 6px;
}
.hot-sales-item-info{
  padding: 8px;
  text-align: center;
}
.hot-sales-item-info span:nth-child(3){
  font-size: 16px;
  color: #d43f3a;
  font-weight: 600;
}
.title-image{
  float: left;
}
.floor-items{
  margin-top: 2px;
}
/*table{*/
  /*border-collapse: collapse;*/
  /*border: 1px solid #9d9d9d;*/
/*}*/
/*table td{*/
  /*border: 1px solid #dcdcdc;*/
/*}*/
.floor-items-feature .floor-item-image{
  float: left;
}
.floor-items-feature .floor-item-image img{
  margin: 5px 20px;
  width: 180px;
}
.floor-items-feature .floor-item-info{
  float: left;
  margin-top: 20px;
  padding-top: 35px;
  padding-right: 10px;
}
.floor-items-feature .floor-item-info p.title{
  font-size: 18px;
  margin-bottom: 15px;
}
.floor-1 .floor-items-feature .floor-item-info span.normal-price{
  font-size: 14px;
  text-decoration: line-through;
  margin-right: 8px;
  color: #9e9e9e;
}
.floor-1 .floor-items-feature .floor-item-info span.promotion-price{
  font-size: 24px;
  font-weight: 600;
  margin-right: 15px;
  color: #6666ff;
}

.floor-item-normal .floor-item-image img{
  margin: 0 auto;
  width: 106px;
}

.floor-item-normal .floor-item-info{
  padding: 15px;
}

.floor-item-normal .floor-item-info p.title{
  font-size: 14px;
  max-width: 190px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 auto;
}

.floor-item-normal .floor-item-info p.price{
  margin-top: 12px;
}

.floor-item-normal .floor-item-info span.normal-price{
  font-size: 14px;
  text-decoration: line-through;
  margin-right: 8px;
  color: #9e9e9e;
}

.floor-1 .floor-item-normal .floor-item-info span.promotion-price{
  font-size: 18px;
  font-weight: 600;
  margin-right: 15px;
  color: #6666ff;
}

.floor-items ul li:not(:nth-child(3)):not(:nth-child(7)){
  border-right: 1px solid #dcdcdc;
}

.floor-items ul li:nth-child(n+4){
  border-top: 1px solid #dcdcdc;
}


.floor-2 .floor-items-feature .floor-item-info span.normal-price{
  font-size: 14px;
  text-decoration: line-through;
  margin-right: 8px;
  color: #9e9e9e;
}
.floor-2 .floor-items-feature .floor-item-info span.promotion-price{
  font-size: 24px;
  font-weight: 600;
  margin-right: 15px;
  color: #ff3399;
}

.floor-2 .floor-item-normal .floor-item-info span.promotion-price{
  font-size: 18px;
  font-weight: 600;
  margin-right: 15px;
  color: #ff3399;
}

.floor-item-normal .floor-item-image img{
  margin: 0 auto;
  width: 106px;
}
/*每日疯抢*/
.panictime{
  background: url("../../../images/panic.jpg") no-repeat;
  height: 389px;
  position: relative;
  width: 235px;
  float: left;
}
.alt-1 {
  position: absolute;
  left: 15px;
  bottom: 53px;
}

.countdown-alt-1 .dd,
.countdown-alt-1 .hh-1,
.countdown-alt-1 .hh-2,
.countdown-alt-1 .mm-1,
.countdown-alt-1 .mm-2,
.countdown-alt-1 .ss-1,
.countdown-alt-1 .ss-2 {
  font-family: 'Righteous', cursive;
  background: #F6F6F6;
  /*border-radius: 10px;*/
  display: inline-block;
  font-size: 26px;
  margin: 1px 2px;
  padding: 10px 6px;
  text-align: center;
}

.countdown-alt-1 .hh-1,
.countdown-alt-1 .hh-2,
.countdown-alt-1 .mm-1,
.countdown-alt-1 .mm-2,
.countdown-alt-1 .ss-1,
.countdown-alt-1 .ss-2 {
  height: 32px;
  text-align: center;
  line-height:12px;
}

.countdown-alt-1 .label {
  font-style: italic;
  text-transform: capitalize;
  background: #F6F6F6;
  border-radius: 5px;
  font-size: 12px;
  margin: 1px 2px;
  padding: 2px 5px;
  position: absolute;
  left: 0;
  bottom: -44px;
  visibility: hidden;
}

.countdown-alt-1 .separator-dd,
.countdown-alt-1 .separator {
  color: #333;
  font-size: 26px;
  position: relative;
}
.panicshops{
  width: 933px;
  float: left;
  border:1px #ccc solid;
  height: 389px;
}
.panicshops .tabs{
  width: 95%;
  margin: 0 auto;

}
.tabs div.tabcontent{
  display: none;
  clear: both;
}
.tabs .horizontal{
  margin: 0px;
  padding: 0px;
  border-bottom: 1px #ccc solid;
  height: 60px;
}
.tabs .horizontal li{
  float: left;
  list-style: none;
  height: 40px;;
  width:62px;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
  padding-top: 10px;
  margin: 0 123px;

}
.tabs .horizontal li span{
  display: block;
}
.tabs .horizontal li:not(:first-child){
  margin-left: 5px;
}

.tabs .horizontal li.selectActive{
  border-bottom: solid 2px #fc0030;
  height: 60px;
}
/*图片滚动*/
.als-container {
  width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  _height: 100%;
}

.picbox {
  width: 95%;
  margin: 0 auto;
  height:290px;
  overflow: hidden;
  position: relative;
}

.piclist {
  height: 115px;
  position: absolute;
  left: 0px;
  top: 0px
}
.piclist li {
  float: left;
  width: 158px;
  overflow: hidden;
  height: 256px;
  margin-left: 50px;
}
.piclist li a{text-decoration: none}
.piclist li .surprise-img{
  width: 150px;
  height: 120px;
}
.piclist li .surprise-img img{
  width: 100%;
  height: 100%;
}
.piclist li .goodsDes{
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.piclist li .panicpric{
 font-size: 14px;
  color: #dd2727;
}
.piclist li .panicpric span{
  font-size: 20px;
}
.piclist li .paniZp{
  color: #999;

}
/*.swaplist {*/
  /*position: absolute;*/
  /*left: 930px;*/
  /*top: 0px*/
/*}*/
.piclist li .panicshopsbtn{
  color: #fff;
  background: #cdcdcd;
  width: 120px;
  height: 30px;
  line-height: 30px;
  border-radius: 30px;
  cursor: pointer;
  text-align: center;
  margin-top: 29px;

}
.als-prev,
.als-next {
  width: 30px;
  height: 50px;
  background: url(../../../images/icon.png) no-repeat;
  background: url(../../../images/icon_ie6.png) no-repeat\9;
  position: absolute;
  top: 115px;
  z-index: 99;
  cursor: pointer;
  filter: alpha(opacity=70);
  opacity: 0.7;
  display: block;
}

.als-prev {
  background-position: 0 -60px;
  left: 4px;
}

.als-next {
  background-position: 0 0;
  right: 4px;
}





