.section-head{
  border-bottom: 1px solid #CCCCCC;
}
.logo img{
  width: 140px;
}
.logo-info{
  margin-top: 40px;
  margin-left: -35px;
  color: #FA6507;
}
.logo-title{
  margin-top: 50px;
  margin-left: -130px;
  color: #333;
}
.logo-login{
  margin-top: 50px;
}
.form-cellphone, .form-email, .from-password{
  width: 400px;
  margin: 35px auto;
}

.register-icon{
  width: 14px;
}
.input-group{
  height: 45px;
}
.input-group input{
  height: 45px;
}
.input-group select{
  height: 45px;
}
.input-group button{
  height: 45px;
}
.btn-next{
  color: #fff;
  background-color: #FA6507;
  border-color: #FA6507;
  height: 45px;
}
.form-group {
  margin-bottom: 0;
}
.input-tip{
  color: #c5c5c5;
  height: 35px;
  padding-top: 5px;
}
.error{
  color: #e22;
}
.btn-register:hover{
  color: #fff;
}
a{
  text-decoration: none;
  color: #666;
}
a:hover{
  text-decoration: none;
  color: #666;
}
.section-footer{
  text-align: center;
  padding: 15px;
  color: #999999;
}