<link rel="stylesheet" href="/stylesheets/view/shops/shopping.css">
<div class="container">
  <!--购物车搜索栏-->
  <div class="searchwrap clearfix">
    <div class="shop_logo">
      <img src="/images/logo-new.png" alt="" />
      <span>购物车</span>
    </div>
    <div class="shop_search">
      <input type="text" />
      <button><i class="iconfont icon-gaojisousuo"></i></button>
    </div>

  </div>
  <!--购物车内容-->
  <div class="shop_slideBox">
    <div class="hd">
      <ul class="clearfix">
        <li><a href="shops"><i class="iconfont icon-gouwuche"></i>爱宠族购物车 （<span>2</span>）</a></li>
        <li><a href="mycollect">我的收藏（<span>0</span>）</a></li>
        <li class="active"><a href="mybought">我购买过（<span>2</span>）</a></li>
      </ul>

    </div>
    <div class="bd">
      <div class="shop_title clearfix">
        <dl>
          <dt class="shop_th">
            <!--<input type="checkbox" />全选-->
          </dt>
          <dd class="shop_inner">商品信息</dd>
          <dd class="shop_price_buy">购买时间</dd>
          <dd class="shop_price_buy">金额</dd>
          <dd class="shop_price_buy shop_cz">操作</dd>
        </dl>
      </div>
      <div class="order_lists">
        <div class="shop_item">
          <!--<div class="shop_th"></div>-->
          <div class="shop_goods">
            <div class="shop_goods_img">
              <a href="#"><img src="images/items/DSC_1532.png" alt="" /></a>
            </div>
            <div class="shop_goods_inner">
              <a href="#">熊本熊 日本熊本熊狗用点点系列之黄色波点牵引带</a>
            </div>
            <div class="shop_goods_color">
              <p>颜色：黄底黑色波点</p>
              <p>尺码：L码(带宽25mm)</p>
            </div>
          </div>
          <div class="shop_price_buy">
            <div class="item-amount">
              <span>2018-1-5</span>
            </div>
          </div>
          <div class="shop_price_buy"><p class="sum_price">￥38</p></div>
          <div class="shop_price_buy shop_cz shop_add_bought">
            <a href="#"><i class="iconfont icon-gouwuche"></i>加入购物车</a>
          </div>
        </div>
        <div class="shop_item">
          <!--<div class="shop_th"></div>-->
          <div class="shop_goods">
            <div class="shop_goods_img">
              <a href="#"><img src="images/items/DSC_1478.png" alt="" /></a>
            </div>
            <div class="shop_goods_inner">
              <a href="#">熊本熊 日本熊本熊狗用点点系列之黄色波点牵引带</a>
            </div>
            <div class="shop_goods_color">
              <p>颜色：黄底黑色波点</p>
              <p>尺码：L码(带宽25mm)</p>
            </div>
          </div>
          <div class="shop_price_buy">
            <div class="item-amount">
              <span>2018-1-5</span>
            </div>
          </div>
          <div class="shop_price_buy"><p class="sum_price">￥38</p></div>
          <div class="shop_price_buy shop_cz shop_add_bought">
            <a href="#"><i class="iconfont icon-gouwuche"></i>加入购物车</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div style="height: 40px"></div>
