<link rel="stylesheet" href="/stylesheets/view/shops/shoping.css">
<div class="container">
    <!--购物车搜索栏-->
    <div class="searchwrap clearfix">
        <div class="shop_logo">
            <img src="/images/logo-new.png" alt="" />
            <span>购物车</span>
        </div>
        <div class="shop_search">
            <input type="text" />
            <button><i class="iconfont icon-gaojisousuo"></i></button>
        </div>

    </div>
    <!--购物车内容-->
    <div class="shop_slideBox">
        <div class="hd">
            <ul class="clearfix">
                <li><a  href="shops"><i class="iconfont icon-gouwuche"></i>爱宠族购物车 （<span>2</span>）</a></li>
                <li class="active"><a href="mycollect">我的收藏（<span>0</span>）</a></li>
                <li><a href="mybought">我购买过（<span>2</span>）</a></li>
            </ul>
        </div>
        <div class="bd">
            <ul>
                <li>
                    <div class="shop_collct_list">
                        <div class="shop_c_img"><a href="#"><img src="images/items/DSC_1532.png" alt="" alt="" title="熊本熊 日本熊本熊狗用点点系列之黄色波点牵引带 黄底黑色波点 L码" /></a></div>
                        <div class="shop_c_name"><a href="#">熊本熊 日本熊本熊狗用点点系列之黄色波点牵引带 黄底黑色波点 L码</a></div>
                        <div class="shop_c_price">¥<strong>219.00</strong></div>
                        <div class="shop_c_operate">
                            <a href="#" style="border-right: 1px #eee solid;"><i class="iconfont icon-gouwuche21"></i>加入购物车</a>
                            <a href="#"><i class="iconfont icon-xiazai14"></i>删除</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="shop_collct_list">
                        <div class="shop_c_img"><a href="#"><img src="images/items/DSC_1478.png" alt="" alt="" title="熊本熊 日本熊本熊狗用点点系列之黄色波点牵引带 黄底黑色波点 L码" /></a></div>
                        <div class="shop_c_name"><a href="#">熊本熊 日本熊本熊狗用点点系列之黄色波点牵引带 黄底黑色波点 L码</a></div>
                        <div class="shop_c_price">¥<strong>219.00</strong></div>
                        <div class="shop_c_operate">
                            <a href="#" style="border-right: 1px #eee solid;"><i class="iconfont icon-gouwuche21"></i>加入购物车</a>
                            <a href="#"><i class="iconfont icon-xiazai14"></i>删除</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="shop_collct_list">
                        <div class="shop_c_img"><a href="#"><img src="images/items/DSC_1469.png" alt="" alt="" title="熊本熊 日本熊本熊狗用点点系列之黄色波点牵引带 黄底黑色波点 L码" /></a></div>
                        <div class="shop_c_name"><a href="#">熊本熊 日本熊本熊狗用点点系列之黄色波点牵引带 黄底黑色波点 L码</a></div>
                        <div class="shop_c_price">¥<strong>219.00</strong></div>
                        <div class="shop_c_operate">
                            <a href="#" style="border-right: 1px #eee solid;"><i class="iconfont icon-gouwuche21"></i>加入购物车</a>
                            <a href="#"><i class="iconfont icon-xiazai14"></i>删除</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div style="height: 40px"></div>
