<link rel="stylesheet" href="/stylesheets/view/shops/shoping.css">
<div class="container">
    <!--购物车搜索栏-->
    <div class="searchwrap clearfix">
        <div class="shop_logo">
            <img src="/images/logo-new.png" alt="" />
            <span>购物车</span>
        </div>
        <div class="shop_search">
            <input type="text" />
            <button><i class="iconfont icon-gaojisousuo"></i></button>
        </div>

    </div>
    <!--购物车内容-->
    <div class="shop_slideBox">
        <div class="hd">
            <ul class="clearfix">
                <li class="active"><a href="shops"><i class="iconfont icon-gouwuche"></i>爱宠族购物车 （<span>2</span>）</a></li>
                <li><a href="mycollect">我的收藏（<span>0</span>）</a></li>
                <li><a href="mybought">我购买过（<span>2</span>）</a></li>
            </ul>
        </div>
        <div class="bd">
            <div class="shop_title clearfix">
                <dl>
                    <dt class="shop_th">
                        <input type="checkbox" id="all" class="whole_check"/>全选
                    </dt>
                    <dd class="shop_inner">商品信息</dd>
                    <dd class="shop_price">单价</dd>
                    <dd class="shop_price">数量</dd>
                    <dd class="shop_price">金额</dd>
                    <dd class="shop_price shop_cz">操作</dd>
                </dl>
            </div>

            <div class="cartBox">
                <!--店铺全选 -->
                <div class="shop_name">
                    <input type="checkbox" id="shop_a" class="shopChoice">店铺：<a href="javascript:;">搜猎人艺术生活</a>
                </div>
                <div class="order_lists">
                    <div class="shop_item">
                        <div class="shop_th"><input type="checkbox"  class="son_check"/></div>
                        <div class="shop_inner">
                            <div class="shop_goods_img">
                                <a href="javascript:;"><img src="images/items/DSC_1478.png" alt="" /></a>
                            </div>
                            <div class="shop_goods_inner">
                                <a href="javascript:;">熊本熊 日本熊本熊狗用点点系列之黄色波点牵引带</a>
                            </div>
                            <div class="shop_goods_color">
                                <p>颜色：黄底黑色波点</p>
                                <p>尺码：L码(带宽25mm)</p>
                            </div>
                        </div>
                        <div class="shop_price">
                            <p class="price">￥38</p>
                        </div>
                        <div class="shop_price">
                            <div class="item-amount">
                                <a href="javascript:;" class="reduce reSty">-</a>
                                <input type="text" value="1" value="1" class="sum">
                                <a href="javascript:;" class="plus">+</a>
                            </div>
                        </div>
                        <div class="shop_price">
                            <p class="sum_price">￥38</p>
                        </div>
                        <div class="shop_price shop_cz">
                            <a href="javascript:;" class="delBtn"><i class="iconfont icon-xiazai14"></i>删除</a>
                        </div>
                    </div>
                    <div class="shop_item">
                        <div class="shop_th"><input type="checkbox"  class="son_check"/></div>
                        <div class="shop_inner">
                            <div class="shop_goods_img">
                                <a href="javascript:;"><img src="images/items/DSC_1478.png" alt="" /></a>
                            </div>
                            <div class="shop_goods_inner">
                                <a href="javascript:;">熊本熊 日本熊本熊狗用点点系列之黄色波点牵引带</a>
                            </div>
                            <div class="shop_goods_color">
                                <p>颜色：黄底黑色波点</p>
                                <p>尺码：L码(带宽25mm)</p>
                            </div>
                        </div>
                        <div class="shop_price">
                            <p class="price">￥38</p>
                        </div>
                        <div class="shop_price">
                            <div class="item-amount">
                                <a href="javascript:;" class="reduce reSty">-</a>
                                <input type="text" value="1" value="1" class="sum">
                                <a href="javascript:;" class="plus">+</a>
                            </div>
                        </div>
                        <div class="shop_price">
                            <p class="sum_price">￥38</p>
                        </div>
                        <div class="shop_price shop_cz">
                            <a href="javascript:;" class="delBtn"><i class="iconfont icon-xiazai14"></i>删除</a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="cartBox">
                <!--店铺全选 -->
                <div class="shop_name">
                    <input type="checkbox" id="shop_a" class="shopChoice">店铺：<a href="javascript:;">搜猎人艺术生活</a>
                </div>
                <div class="order_lists">
                    <div class="shop_item">
                        <div class="shop_th"><input type="checkbox"  class="son_check"/></div>
                        <div class="shop_inner">
                            <div class="shop_goods_img">
                                <a href="javascript:;"><img src="images/items/DSC_1478.png" alt="" /></a>
                            </div>
                            <div class="shop_goods_inner">
                                <a href="javascript:;">熊本熊 日本熊本熊狗用点点系列之黄色波点牵引带</a>
                            </div>
                            <div class="shop_goods_color">
                                <p>颜色：黄底黑色波点</p>
                                <p>尺码：L码(带宽25mm)</p>
                            </div>
                        </div>
                        <div class="shop_price">
                            <p class="price">￥38</p>
                        </div>
                        <div class="shop_price">
                            <div class="item-amount">
                                <a href="javascript:;" class="reduce reSty">-</a>
                                <input type="text" value="1" value="1" class="sum">
                                <a href="javascript:;" class="plus">+</a>
                            </div>
                        </div>
                        <div class="shop_price">
                            <p class="sum_price">￥38</p>
                        </div>
                        <div class="shop_price shop_cz">
                            <a href="javascript:;" class="delBtn"><i class="iconfont icon-xiazai14"></i>删除</a>
                        </div>
                    </div>
                    <div class="shop_item">
                        <div class="shop_th"><input type="checkbox"  class="son_check"/></div>
                        <div class="shop_inner">
                            <div class="shop_goods_img">
                                <a href="javascript:;"><img src="images/items/DSC_1478.png" alt="" /></a>
                            </div>
                            <div class="shop_goods_inner">
                                <a href="javascript:;">熊本熊 日本熊本熊狗用点点系列之黄色波点牵引带</a>
                            </div>
                            <div class="shop_goods_color">
                                <p>颜色：黄底黑色波点</p>
                                <p>尺码：L码(带宽25mm)</p>
                            </div>
                        </div>
                        <div class="shop_price">
                            <p class="price">￥38</p>
                        </div>
                        <div class="shop_price">
                            <div class="item-amount">
                                <a href="javascript:;" class="reduce reSty">-</a>
                                <input type="text" value="1" value="1" class="sum">
                                <a href="javascript:;" class="plus">+</a>
                            </div>
                        </div>
                        <div class="shop_price">
                            <p class="sum_price">￥38</p>
                        </div>
                        <div class="shop_price shop_cz">
                            <a href="javascript:;" class="delBtn" ><i class="iconfont icon-xiazai14"></i>删除</a>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <!--购物车结算-->
    <div class="shop_settlement">
        <div class="shop_set_left">
            <div class="shop_set_selcet"><input type="checkbox" class="whole_check" />全选</div>
            <div><a href="javascript:;" class="delAllBtn">删除选中的宝贝</a></div>
        </div>
        <div class="shop_set_right">
            <p class="piece">已选商品<span class="piece_num">0</span> 件</p>
            <p class="totalMoney">总价：<strong class="total_text">￥0.00 </strong></p>
            <a href="order" class="calBtn">结算</a>
        </div>

    </div>
</div>
<div style="height: 40px"></div>
<script type="text/javascript" src="javascripts/jquery-2.2.0/jquery-2.2.0.min.js"></script>
<script type="text/javascript" src="javascripts/layer/layer.js"></script>
<script type="text/javascript" src="javascripts/view/shops/carts.js" ></script>
