<link rel="stylesheet" href="/stylesheets/view/shops/shoping.css">
<!--header end-->
<div class="container">
    <!--购物车搜索栏-->
    <div class="searchwrap clearfix">
        <div class="shop_logo">
            <img src="/images/logo-new.png" alt="" />
            <span>订单结算</span>
        </div>
        <div class="shop_order_process">
            <p><img src="/images/order/order.gif" alt="" /></p>
            <span>购物车</span><span>提交订单</span><span style="padding-right:0;">支付</span>
        </div>
    </div>
    <!--订单提交成功-->
    <div class="order_succes_warn">
        <p><i class="iconfont icon-success"></i>恭喜你！支付成功!</p>
    </div>
    <div class="order_succes_info">
        <p><span>订单编号：</span>12568794</p>
        <p><span>购买金额：</span>1，000元</p>
        <p><span>收货人：</span>魏家姑娘</p>
        <p><span>收货地址：</span><em>陕西西安市未央区启航佳缘B区8栋1104</em></p>
    </div>
    <div class="order_return">
        <a href="allorder">查看订单</a>
        <a href="index">继续购物</a>
    </div>
</div>
<div style="height: 40px"></div>