.newscont{
  text-align: center;
  margin-top: 25px;
}
.newscont h2{
  padding: 15px;
}
.newscont h4{
  padding: 10px;
  font-size: 14px;
}
.news-content{
  text-align: center;
}
.news-content p{
  width: 800px;
  margin: 0 auto;
  padding: 15px;
  line-height: 22px;
}
.news-content img{
  width: 500px;
  margin: 15px;
}
.news-content video{
  width: 500px;
  margin: 15px;
}