.article-box{
  width: 660px;
  margin: 35px auto;
}
.article-box h1{
  margin: 15px auto;
  font-size: 34px;
  font-weight: 700;
  line-height: 44px;
  color: #222;
  font-family: Microsoft YaHei;
}
.article-box p{
  font-size: 14px;
  margin: 16px 0;
  font-size: 16px;
  line-height: 28px;
  color: #222;
  word-wrap: break-word;
  font-family: 新宋体;
}
.article-box img{
  margin: 0 auto;
}