.bread-crumbs a{
  color: #f39800;
  font-size: 14px;
  text-decoration: none;
}
.item-list {
  /*margin-top: 25px;*/
  /*margin-bottom: 25px;*/
}
.item-list ul li{
  float: left;
  width: 228px;
  height: 350px;
}
.item-list ul li:hover{
  border: 1px solid #f39800 !important;
}
.item-list ul li img{
  width: 150px;
  margin: 8px auto;
}
.item-list ul li p{
  width: 170px;
  margin: 6px auto;
}
.item-list ul li p.des{
  font-size: 14px;
  height: 80px;
}
.item-list ul li p.price{
  font-size: 24px;
  color: #ff4400;
}
.item-list ul li:not(:nth-child(5n)){
  border-right: 1px solid #dcdcdc;
}

.item-list ul li:nth-child(n+6){
  border-top: 1px solid #dcdcdc;
}
.item-buy{
  padding-left: 10px;
  padding-right: 10px;
}
.btn-buy{
  color: #fff;
  background-color: #FA6509;
  border-color: #FA6507;
}
/*.pagination{*/
  /*margin-bottom: 15px;*/
/*}*/

.pagination ul{
  margin: 0 auto;
}

.pagination ul li{
  float: left;
  padding-top: 5px;
  width: 31px;
  height: 31px;
  border-top: 1px solid #FA6507;
  border-bottom: 1px solid #FA6507;
  border-right: 1px solid #FA6507;
}

.pagination ul li:first-child{
  border-left: 1px solid #FA6507;
}

.pagination ul li a{
  color: #FA6507;
}
.pagination ul li span{
  color: #FA6507;
}
.current-page-number{
  background-color: #fa5507;
}
.current-page-number-content{
  color: #ffffff !important;
}