.left-nav .account-l{
  margin: 0 auto;
  width: 200px;
}
.icon-img{
  width: 25px;
  margin-top: -2px;
  margin-right: 8px;
  float: left
}
.recommend-item-list{
  padding: 10px;
  width: 200px;
}
.recommend-item-list h4{
  padding: 10px;
}
.recommend-item-list img{
  width: 180px;
  margin: 0 auto;
}
.recommend-item-list p{
  margin-left: 15px;
}
.right-content{
  padding-left: 35px;
}
ul.item-list{
  list-style: none;
}
.item-list ul li{
  position: relative;
  float: left;
  width: 226px;
  height: 210px;
  /*padding: 0;*/
  border-bottom: 1px solid #CCCCCC;
  border-right: 1px solid #CCCCCC;

}
.item-list ul li:nth-child(4n){
  border-right: none;
}
.item-list ul li img{
  margin: 0 auto;
  width: 210px;
  height: 143px;
  /*margin-top: 8px !important;*/
}
.pet-mod-item-img {
  padding-top: 10px;
}
/*.item-image:hover{*/
  /*margin: 0 auto;*/
  /*margin-top: -5px;*/
  /*margin-bottom: 5px;*/
/*}*/
.margin-bottom{
  margin-bottom: 35px;
}
.item-list ul li p{
  margin-left: 15px;
}
.recommend-item-list p.des{
  width: 160px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis

}
.item-list p.des{
  width: 205px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}
p.price{
  color: #d43f3a;
  font-size: 16px;
  font-weight: 600;
}
.page-nav nav{
  text-align: center;
}
.page-nav ul li{
  margin-right: 3px;
}
.pagination>.current>a, .pagination>.current>a:hover{
  color: #FFFFFF;
  background-color: #ff6600;
  border-color: #ff6600;
}
.current{
  color: #FFFFFF;
  background-color: #ff6600;
}
.border{
  border: 1px solid #cccccc;
}
.border-bottom{
  border-bottom: 1px solid #cccccc;
}
.cat-item-list{
  margin-top: 25px;
}
.no-margin-top{
  margin-top: 0;
}
.luvpet-group{
  padding-top: 15px;
}
.crazy-group{
  padding-top: 15px;
}

.pet-mod-item-info p{
  padding-top: 18px;
}