.item-buy{
  margin-top: 35px;
}
.item-buy ul {
  list-style: none;
}
.item-buy .item-image-thumbnail{
  position: relative;
  float: left;
  width: 56px;
  height: 56px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 2px;
  border: 1px solid #e0e0e0;
}
.border-choose{
  border: 1px solid #FA6507 !important;
}
.item-buy .item-image-thumbnail img{
  margin-left: auto;
  margin-right: auto;
  margin-top: 6px;
  max-width: 35px;
  max-height: 35px;
  cursor: pointer;
}
.item-buy-image{
  position: relative;
  float: left;
}
.recommend-item-list{
  position: relative;
  float: left;
  width: 260px;
}
.item-detail-info{
  position: relative;
  float: left;
  width: 828px;
  /*padding-left: 48px;*/
}
.item-image-big{
  border: 1px solid #e0e0e0;
  width: 288px;
  height: 288px;
}
.item-buy-info{
  position: relative;
  font-size: 14px;
  float: left;
  width: 800px;
  padding-left: 15px;
}
.item-info-other{
  margin-top: 15px;
}
.margin-top-30{
  margin-top: 30px;
}
.item-info-select{
  float: left;
  border: 1px solid #e0e0e0;
  text-align: center;
  cursor: pointer;
  padding: 5px;
  margin-right: 5px;
}
.item-info-select:hover{
  border: 1px solid #FA6507;
}
.selected{
  border: 1px solid #FA6507 !important;
}
.info{
  display:block;
  float: left;
  width: 80px;
  color: #999999;
}
.item-buy-info .item-info-price{
  background-color: #F9ECE4;
  padding: 15px;
}
.expired-price{
  text-decoration: line-through;
}
.current-price{
  color: #d43f3a;
  font-size: 18px;
  font-weight: 600;
}
.item-add-shoppingCar{
  margin-top: 35px;
  padding: 25px 0px;
  border-top: 1px dashed #e0e0e0;
}
.item-add-shoppingCar .item-count{
  width: 40px;
  height: 45px;
}
.btn-add-shoppingCart{
  width: 160px;
  height: 45px;
  background-color: #FA6509;
  margin-left: 15px;
  color: #ffffff;
  font-weight: 600;
  border: 1px solid #FA6507;
}
.btn-add-shoppingCart .glyphicon-shopping-cart{
  color: #ffffff;
}

.recommend-item-list{
  padding-bottom: 15px;
}

.recommend-item-list h4{
  padding: 15px;
  margin-top: 1px;
  background-color: #F7F7F7;
  color: #ff6600;
}
.recommend-item-list .pet-rem-item{
  width: 215px;
  margin: 0 auto;
  border-bottom: 1px solid #cccccc;
}
.recommend-item-list img{
  margin: 0 auto;
}
.recommend-item-list img:hover{
  margin: 0 auto;
  margin-top: -5px;
  margin-bottom: 5px;
}
.pet-rem-item-info p.des{
  width: 215px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}

.item-detail-info .nav-tabs{
  background-color: #f7f7f7;
  border-bottom: 1px solid #FA6507;
}
.item-detail-info .nav-tabs>li.active>a{
  color: #ffffff;
  cursor: default;
  background-color: #FA6509;
  border: 1px solid #FA6507;
}
.item-detail-info .nav-tabs>li>a{
  color: #666;
}

.item-detail-info .tab-content{
  padding-top: 8px;
  padding-left: 15px;
}

.item-info-size:hover{
  border: 1px solid #FA6507;
}

.item-info-other-left{
  position: relative;
  padding: 5px;
  float: left;
}
.item-info-other-right{
  position: relative;
  float: left;
  width: 680px;
}

.bs-example-tabs>.tab-content{
  border-left: 1px solid #FA6507;
  border-right: 1px solid #FA6507;
  border-bottom: 1px solid #FA6507;
}

div.zoomDiv{
  z-index:999;
  position:absolute !important;
  top:232px !important;;
  left:450px !important;;
  width:400px !important;;
  height:400px !important;;
  background:#ffffff;
  border:1px solid #e0e0e0;
  display:none;
  text-align:center;
  overflow:hidden;
}
div.zoomMask{
  position:absolute;
  background:url("../../../images/mask.png") repeat scroll 0 0 transparent;
  cursor:move;
  z-index:1;
}
.review-good-percent{
  padding-top: 15px;
  padding-left: 25px;
  padding-bottom: 20px;
}
.percent-title{
  font-size: 13px;
  color: #666;
  font-weight: 400;
}
/*.percent-value{*/
  /*border-bottom: 1px solid #dddddd;*/
/*}*/
.percent-value span:first-child{
  font-size: 45px;
  color: #E4393C;
}
.percent-value span:nth-child(2){
  font-size: 18px;
  color: #E4393C;
}
.review-text{
  margin-top: 15px;
  padding: 15px;
  border-bottom: 1px solid #dddddd;
}
#myTabs li:hover{
  color: #1E9FFF;
}
.percent-dec{
  padding-top: 10px;
}
.review-star{
  color: #E4393C;
}